.w-6{
    width: 5rem;
}
.w-7{
    width: 6rem;
}
.w-8{
    width: 7rem;
}
.w-9{
    width: 8rem;
}
.w-10{
    width: 9rem;
}
.w-11{
    width: 10rem;
}
.w-12{
    width: 11rem;
}
.w-13{
    width: 12rem;
}
.w-14{
    width: 13rem;
}
.w-15{
    width: 14rem;
}

.view-camera-btn{
    transition: color 200ms ease-in-out;
    color: #1e293b;
}
.view-camera-btn:hover{
    cursor: pointer;
    color: #19396e;
}
.delete-btn{
    transition: color 200ms ease-in-out;
    color: #d63939;
}
.delete-btn:hover{
    cursor: pointer;
    color: #d26363;
}

.video-btn{
    transition: color 200ms ease-in-out;
    color: #1e293b;
}
.video-btn:hover{
    cursor: pointer;
    color: #19396e;
}
.download-btn{
    transition: color 200ms ease-in-out;
    color: #1e293b;
}
.download-btn:hover{
    cursor: pointer;
    color: #19396e;
}

.video-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video-error{
    width: 650px;
    aspect-ratio: 16/9;
    min-height: 50px;
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    background: black;
    color: white;
}
.video-error .fa-circle-exclamation{
    font-size: 50px;
    color: red;
}

.video-loader{
    width: 650px;
    aspect-ratio: 16/9;
    min-height: 50px;
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    background: black;
    color: white;
}
.video-loader .fa-spinner{
    font-size: 50px;
    color: white;
}

.view-camera-video{
    width: 650px;
    aspect-ratio: 16/9;
}

.errors{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hidden{
    display: none!important;
}

.btn-disabled{
    cursor: not-allowed;
    color: #a0aec0;
}
.btn-disabled:hover{
    cursor: not-allowed;
    color: #a0aec0;
}

.data-tooltip{
    position: relative;
    overflow: visible;
}
.data-tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 99;
    width: fit-content;
    color: white;
    font-size: 12px;
    background-color: #192733;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}
.data-tooltip:hover .data-tooltip-text {
    visibility: visible;
}
.data-tooltip-text[data-top] {
    top: -40px;
}
.data-tooltip-text[data-top]:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #192733 transparent transparent transparent;
}
.data-tooltip-text[data-bottom] {
    top: 25px;
}
.data-tooltip-text[data-bottom]:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #192733 transparent;
}
.data-tooltip-text[data-left] {
    top: -8px;
    right: 120%;
}
.data-tooltip-text[data-left]:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #192733;
}
.data-tooltip-text[data-right] {
    top: -8px;
    left: 120%;
}
.data-tooltip-text[data-right]:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #192733 transparent transparent;
}